<div class="container-fluid sticky-top" >
    <div class="row bg-dark " style="height:55px;">
      <div  class="col-3 make-left text-light h5 mb-0"> 
        {{title}}
      </div>
  
      <div class="col-6 make-center">
        <input [(ngModel)]="post"  type="text" class="form-control form-control-lg" placeholder="Post Here...">
        <button (click)="postHere()" type="button" class="ml-1 btn btn-secondary">
          Post Here
        </button>
      </div>
    </div>
</div>


<div class="container-fluid" *ngIf="postList.length > 0">
    <div class="row mt-1" *ngFor="let item of postList">
      <div class="col-3"></div>
      <div class="col-6" >
          <div class="card">
              <div class="card-body make-center text-muted fontify" style="min-height:100px;">
                <h3 class="card-title">
                  {{item.post}}
                </h3>
              </div>

              <div class="card-footer text-muted">
                <a href="#" (click)="likeCount(item)" class="btn btn-sm btn-secondary">LIKEEEEE
                    <span class="badge badge-light">{{item.like}}</span>
                </a>
                <a href="#" (click)="dislikeCount(item)" class="ml-1 btn btn-sm btn-secondary">DISLIKEEEE
                  <span class="badge badge-light">{{item.dislike}}</span>
                </a>
              </div>
          </div>
      </div>
  
      <div class="col-3"></div>
    </div>
</div>

<div class="container-fluid" *ngIf="postList.length == 0">
  <div class="row mt-1">
    <div class="col-3">    </div>
    <div class="col-6 h3 text-light rounded bg-secondary make-center" style="height:200px;">    
      No Post Available
    </div>
    <div class="col-3">    </div>
  </div>
</div>