.full-screen {
    height: 100vh;
}

.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beautify{
    background: royalblue;
    color: ghostwhite;
    font-size: 40px;
}