/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}


.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen {
    height: 400px;
}


.beautify{
    background: royalblue;
    color: ghostwhite;
    font-size: 40px;
}