/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    margin: 0px;
}

.make-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen {
    height: 400px;
}


.beautify{
    background: royalblue;
    color: ghostwhite;
    font-size: 40px;
}

.fontify{
    font-size: 20px;
    font-family: monospace;
}